*
{
	margin:0;
	padding:0;
}
.modal-open {
    overflow-y: scroll;
}

.modal .modal-dialog {
	width:90%;
}

.modal-content {
  /*background-color: #2e343d;*/
	background-color: snow;
}
.modal-body {
  /*background-color: #2e343d;*/
	background-color: snow;
}

html, center
{
	width:100%;
	height:100%;
}
body
{
	background-color: #2e343d;
	font-family: 'Futura-CondensedMedium';
	color:#000000;
	width: 100%;
	height:100%;
	font-weight: lighter;
}


a, a:visited, a:active{
	color:#2b2b2b;
	text-decoration: none;
}
a:hover{
	color:#c15a5b;
	text-decoration: none;
}
#background{
	background-size: cover;
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.divider{
	width:100%;
	height:10px;
	margin: 10px 0px;
	background-color:#DE1B1B;
}
.btn{
	border: 2px #fff solid;
	opacity:.9;
	font-size:1.5em;
	border-radius: 5px;
	color:#fff;
	background-color: #c15a5b;
	font-weight:bold;
}
#section0{
	height:100%;
	width: 100%;
	font-size: 1.5em;
	padding-top: 3%;
	padding-bottom: 5%;
}
#s0container{
	position: relative;
	width:60%;
	vertical-align: middle;
	overflow: auto;
}
#section1{
	background-color: #2e343d;
	color: #fff;
	vertical-align: middle;
	font-size: 1.5em;
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: auto;
}


.section{
	width: 100%;
	font-size: 1.5em;
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: auto;
}

#s1container{
	position: relative;
	width:80%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}

#s1container h2 {
	font-size: 60px;
	margin-top: 0.5em;
	padding-bottom: 1em;
}

#s1container h3 {
	color: #515151;
	margin-bottom: 5%;
}
/*#s1text{
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}*/

h1{
	font-family: 'Futura-CondensedMedium', sans-serif;
	font-size: 4em;
	font-weight: lighter;
}
h2{
	font-family: 'Futura-CondensedMedium', sans-serif;
	font-size: 2em;
	font-weight: lighter;
}
#section2{
	background-image: url('/images/figures.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color:#2e343d;
	height: 100%;
	width: 100%;
	color:#4e4e4e;
	font-size: 1.5em;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0;
}
#s2container{
	position: relative;
	width:100%;
	text-align: center;
}
#s2container h2{
	padding-top: 1.2em;
	text-align: center;
	color: #fff;
}
#s2container h3{
	padding-top:1em;
	text-align: center;
	color: #f4efe4;
	opacity: 0.7;
	width: 100%;
}
#s2container h4{
	padding-top: 1em;
	text-align: center;
	font-size: 2em;
	color: #fff;
	width: 100%;
}
#section3{
	background-image: url('/images/global.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-color:#2B2B2B;
	color:#fff;
	vertical-align: middle;
	font-size: 1.5em;
}
#s3container{
	position: relative;
	width:80%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}
#s3container h1{
	text-align: center;
}
#section4{
	background-image: url('/images/global2.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-color:#2B2B2B;
	color:#fff;
	vertical-align: middle;
	font-size: 1.5em;
}
#s4container{
	position: relative;
	width:80%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}
#s4container h1{
	text-align: center;
}

#section5{
	background-image: url('/images/sexducate.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-color:#2B2B2B;
	color:#fff;
	vertical-align: middle;
	font-size: 1.5em;
}
#s5container{
	position: relative;
	width:80%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}

#section6{
	background-image: url('/images/contraceptives.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-color:#2B2B2B;
	color:#fff;
	vertical-align: middle;
	font-size: 1.5em;
}
#s6container{
	position: relative;
	width:80%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}
#section6{
	background-image: url('/images/contraceptives.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-color:#2B2B2B;
	color:#fff;
	vertical-align: middle;
	font-size: 1.5em;
}
#s6container{
	position: relative;
	width:80%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}

#section7{
	background-color: #2e343d;
	color: #fff;
	vertical-align: middle;
	font-size: 1.5em;
	padding-top: 5%;
	padding-bottom: 5%;
	overflow: auto;
}

#s7container{
	position: relative;
	width:100%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
	padding-top: 3em;
	padding-bottom: 3em;
}

#s7container h2 {
	margin-top: -5px;
	font-size: 40px;
	padding-bottom: 0.1em;
}

#s7container h3 {
	color: #515151;
}

#section7 h3 {
	padding-top: 0.2em;
	padding-bottom: 0.5em;
}

#success{
	padding-bottom: 1em;
}
.form-control {
	height: 50px;
}
.form-group {
	padding: 2px;
}

#message {
	height: 209px;
}
#section8{
	background-image: url('/images/footer.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	background-color:#2B2B2B;
	color:#fff;
	vertical-align: middle;
	font-size: 1.5em;
}
#s8container{
	position: relative;
	width:100%;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
	padding-bottom: 6em;
	margin-bottom: -10px;
}
#name
{
	color: #fff;
	font-size: 6em;
	font-family: 'Futura-CondensedMedium', sans-serif;
	text-shadow: -1px 0 #c15a5b, 0 2px #c15a5b, 2px 0 #c15a5b, 0 -1px #c15a5b;
	font-weight: lighter;
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 1.6em;
}

#namesmaller.moveright
{
	left:100px;
	position:fixed;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.animated
{
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#subtext
{
	font-family: 'Futura', 'MFYueHei', sans-serif;
	color: black;
	font-weight: lighter;
	font-size: 30px;
}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #2e343d;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #2e343d;
    }
}

.whitetext a, .whitetext a:hover, .whitetext a:visited{
	color:#CCC !important;
}

.rTable{
	display:table;
}
.rTableRow{
	display:table-row;
}
.rTableCell{
	display:table-cell;
}

@media screen and (max-width: 1024px){
    #s1container, #s2container, #s3container, #s4container, #s5container, #s6container
    {
    	width:90%;
    }
    #name
    {
    	font-size:3em;
    }
    #subtext
    {
    	font-size:0.4em;
    }
    h1
    {
    	font-size:2em;
    }
    #s1container
    {
    	text-align:center;
    }

  /*#section1 img {
    	float:none;
		margin-bottom:20%;
		border-radius: 30px;
		display: block;
	}*/
	#s3container .container-fluid{
		display:block;
	}
	#s3container .row{
		display:block;
	}
	#s3container .row div{
		display:inline-block;
		float:none;
		padding: 20px;
	}
	#s3container .row .col-md-8{
		display:inline-block;
		text-align:left;
	}
	#s3container .row .col-md-4{
		display:inline-block;
		vertical-align:middle;
	}
	#s5container img {
		max-width: 450px;
	}
	#s5container .container-fluid{
		display:block;
	}
	#s5container .row{
		display:block;
	}
	#s5container .row div{
		display:inline-block;
		float:none;
		padding: 20px;
	}
	#s5container .row .col-md-9{
		display:inline-block;
		text-align:left;
	}
	#s5container .row .col-md-3{
		display:inline-block;
	}
	#s5container .col-md-3 img{
		width:100%;
	}
}
